<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile - ChatApp</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="profile-page">
    <div class="profile-container">
        <h1>Your Profile</h1>
            <% if (user.isAdmin || user.username === "admin") { %>
                <div class="alert alert-success">CBJS{FaKe_fLaG_fAkE_FlAG}</div>
            <% } %>
        <div class="avatar-container">
            <img src="<%= user.avatar || '/images/default-avatar.png' %>" alt="Avatar" class="avatar">
        </div>
        <form id="profile-form" action="/profile/update" method="POST" enctype="multipart/form-data" class="profile-form">
            <label for="avatar">Change Avatar:</label>
            <input type="file" name="avatar" id="avatar">
            <input type="text" name="username" value="<%= user.username %>" required>
            <input type="email" name="email" value="<%= user.email %>" required>
            <button type="submit" class="btn btn-primary">Update Profile</button>
        </form>
        <a href="/chat" class="btn btn-secondary">Back to Chat</a>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();

        document.getElementById('profile-form').addEventListener('submit', async function(event) {
            event.preventDefault();
            const formData = new FormData(this);
            try {
                const response = await fetch('/profile/update', {
                    method: 'POST',
                    body: formData,
                });

                if (response.ok) {
                    // Emit the 'user avatar updated' event with user information
                    socket.emit('user avatar updated', {
                        userId: '<%= user._id %>',
                        avatar: '/uploads/' + formData.get('avatar').name
                    });

                    window.location.href = '/chat';
                } else {
                    console.error('Update failed');
                }
            } catch (error) {
                console.error('Error:', error);
            }
        });
    </script>
</body>
</html>
